body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template:
    "h h" 80px
    "main r" 1fr
    "footer footer"
    / 1fr 1fr;
  gap: 10px;
  background-color: #b3b3b3;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
}

main {
  grid-area: main;
  padding: 0 20px;
  background-color: red;
}

section {
  margin: 10px;
  padding: 10px;
  background-color: rgb(197 121 121);
}

aside {
  grid-area: r;
  padding: 30px;
  background-color: green;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: left;
  background-color: cyan;
  color: black;
}
